---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CookieConsent from "../components/CookieConsent.astro";
import PartnershipModal from "../components/PartnershipModal.astro";
import { getLangFromUrl } from "../i18n/utils";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Scandic Roots provides end-to-end international recruitment services, connecting European employers with global talent.",
} = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/logo-icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Scandic Roots</title>
		<meta name="description" content={description} />
		<script
			src="https://kit.fontawesome.com/094a872d8c.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		<CookieConsent />
		<PartnershipModal />
	</body>
</html>
